schemas/elements/notesstmt.rnc

notesstmt = element notesstmt {
    annot+
}
fei_element |= notesstmt

annot = element annot {
    attribute type { xsd:string }?,
    ( frame | xsd:string )
}

frame = element frame {
    attribute target { timecode_format },
    (
        (
            element caption { xsd:string }
        ) | (
            element caption { xsd:string } &
            element framedesc { xsd:string }
        ) | (
            xsd:string
        )
    )
}