schemas/elements/timecode.rnc

timecode = (
    element timecode { timecode_format }
)
fei_element |= timecode

timecode_range = (
    element timecodestart { timecode_format } | 
    (
        element timecodestart { timecode_format },
        element timecodeend { timecode_format }
    )
)

timecode_format = xsd:string { pattern = "\d{2}:\d{2}:\d{2}" }
