schemas/editionstmt.rnc

editionstmt = element editionstmt {
    element edition {
        date &
        element duration { timecode_format }? &
        element source { xsd:string }? &
        element desc { xsd:string }? &
        attribute id { xsd:string }
    }+
}

editionreference = element editionreference {
    attribute target { xsd:string }
}